.Nav {
  background-color: black;
  display: flex;
  flex-direction: left;
  align-items: center;
  justify-content: space-around;
}

.navImg {
  height: 5vh;
}

.bannerImg {
  width: 75%;
  text-align: center;
}